


      <div class="login">
        <h1> סריקה </h1>

     <%=  form_tag({controller: "channel", action: "scan"}, method: "post") do %>
     
        <%= label_tag(:fb_url, "Facebook link") %>
        <%= text_field_tag(:fb_url) %>
<br>

<br>

        <%= label_tag(:ig_url, "Instagram link") %>
        <%= text_field_tag(:ig_url) %>
        <br>
        
        <br>
        <%= submit_tag("Scan")  %>

        <% end %>
    </div>
      
      
  

    

    